[submodule "Lectures/errors-promises-notes"]
	path = Lectures/errors-promises-notes
	url = https://github.com/NimaBoscarino/errors-promises-notes.git
[submodule "Lectures/react-native-notes"]
	path = Lectures/react-native-notes
	url = https://github.com/NimaBoscarino/react-native-notes
[submodule "Lectures/mongo-notes"]
	path = Lectures/mongo-notes
	url = https://github.com/NimaBoscarino/mongo-notes
[submodule "Breakouts/es6-notes"]
	path = Breakouts/es6-notes
	url = https://github.com/NimaBoscarino/es6-notes.git
[submodule "Lectures/web-server-notes"]
	path = Lectures/web-server-notes
	url = https://github.com/NimaBoscarino/web-server-notes.git
[submodule "Lectures/ruby-notes"]
	path = Lectures/ruby-notes
	url = https://github.com/NimaBoscarino/ruby-notes
[submodule "Breakouts/active-record-notes"]
	path = Breakouts/active-record-notes
	url = https://github.com/NimaBoscarino/active-record-notes
[submodule "Lectures/pg-node-notes"]
	path = Lectures/pg-node-notes
	url = https://github.com/NimaBoscarino/pg-node-notes.git
