[submodule "Lectures/errors-promises-notes"]
	path = Lectures/errors-promises-notes
	url = https://github.com/NimaBoscarino/errors-promises-notes.git
[submodule "Lectures/react-native-notes"]
	path = Lectures/react-native-notes
	url = https://github.com/NimaBoscarino/react-native-notes
[submodule "Lectures/mongo-notes"]
	path = Lectures/mongo-notes
	url = https://github.com/NimaBoscarino/mongo-notes
[submodule "Breakouts/es6-notes"]
	path = Breakouts/es6-notes
	url = https://github.com/NimaBoscarino/es6-notes.git
[submodule "Lectures/web-server-notes"]
	path = Lectures/web-server-notes
	url = https://github.com/NimaBoscarino/web-server-notes.git
[submodule "Lectures/ruby-notes"]
	path = Lectures/ruby-notes
	url = https://github.com/NimaBoscarino/ruby-notes
[submodule "Breakouts/active-record-notes"]
	path = Breakouts/active-record-notes
	url = https://github.com/NimaBoscarino/active-record-notes
[submodule "Lectures/pg-node-notes"]
	path = Lectures/pg-node-notes
	url = https://github.com/NimaBoscarino/pg-node-notes.git
[submodule "Breakouts/knex-notes"]
	path = Breakouts/knex-notes
	url = https://github.com/NimaBoscarino/knex-notes.git
[submodule "Lectures/client-side-js-notes"]
	path = Lectures/client-side-js-notes
	url = https://github.com/NimaBoscarino/client-side-js-notes.git
[submodule "Lectures/modules-testing-notes"]
	path = Lectures/modules-testing-notes
	url = https://github.com/NimaBoscarino/modules-testing-notes.git
[submodule "Lectures/react-notes"]
	path = Lectures/react-notes
	url = https://github.com/NimaBoscarino/react-notes.git
[submodule "Breakouts/react-breakout-notes"]
	path = Breakouts/react-breakout-notes
	url = https://github.com/NimaBoscarino/react-breakout-notes.git
[submodule "Lectures/websockets-react-notes"]
	path = Lectures/websockets-react-notes
	url = https://github.com/NimaBoscarino/websockets-react-notes.git
[submodule "Lectures/prototypes-js-notes"]
	path = Lectures/prototypes-js-notes
	url = https://github.com/NimaBoscarino/prototypes-js-notes.git
[submodule "Lectures/websockets-notes"]
	path = Lectures/websockets-notes
	url = https://github.com/NimaBoscarino/websockets-notes.git
[submodule "Lectures/ajax-notes"]
	path = Lectures/ajax-notes
	url = https://github.com/NimaBoscarino/ajax-notes.git
[submodule "Lectures/rails-2-notes"]
	path = Lectures/rails-2-notes
	url = https://github.com/NimaBoscarino/rails-2-notes.git
[submodule "Lectures/tech-ethics-notes"]
	path = Lectures/tech-ethics-notes
	url = https://github.com/NimaBoscarino/tech-ethics-notes.git
[submodule "Lectures/callbacks-notes"]
	path = Lectures/callbacks-notes
	url = https://github.com/NimaBoscarino/callbacks-notes.git
[submodule "Lectures/crud-express-notes"]
	path = Lectures/crud-express-notes
	url = https://github.com/NimaBoscarino/crud-express-notes.git
[submodule "Lectures/user-authentication-notes"]
	path = Lectures/user-authentication-notes
	url = https://github.com/NimaBoscarino/user-authentication-notes.git
[submodule "Breakouts/jquery-notes"]
	path = Breakouts/jquery-notes
	url = https://github.com/NimaBoscarino/jquery-notes.git
[submodule "Lectures/responsive-sass-notes"]
	path = Lectures/responsive-sass-notes
	url = https://github.com/NimaBoscarino/responsive-sass-notes/
[submodule "Lectures/nested-resources-notes"]
	path = Lectures/nested-resources-notes
	url = https://github.com/NimaBoscarino/nested-resources-notes
[submodule "Lectures/dev-workflow-notes"]
	path = Lectures/dev-workflow-notes
	url = https://github.com/NimaBoscarino/dev-workflow-notes.git
